<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Didydoc</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <link href="/static/css/nycss.css" rel="stylesheet"/>
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <h2>Didydoc</h2>
          </a>
          <div class="navbar-collapse" id="">
            <ul class="navbar-nav justify-content-between ">
              <div class="User_option">
                <li class="">
                  <a class="mr-4" href="/user/login/">
                    Login
                  </a>
                  <a class="" href="/user/signup/">
                    Sign up
                  </a>
                </li>
              </div>
            </ul>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">HOME</a>
                <a href="/">ABOUT</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1>
                <span> Didydoc</span> <br>
                Moderne bibliotheque <br>
                Numerique
              </h1>
              <p>
                "Didydoc, l'application web ultime pour les amoureux de la lecture, offre une bibliothèque diversifiée de livres et une communauté dynamique sur son blog angler, </br>invitant les utilisateurs à découvrir, partager et discuter autour d'une passion commune."
              </p>
              <div class="btn-box">
                <a class="mr-4" href="/user/login/">
                  Login
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
             <div class="rigth">
                <img src="/static/images/7788.jpg" alt="" srcset="">
                
             </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

 

  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="square-box">
      <img src="images/square.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static//images/Library_Freepik.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Didydoc
              </h2>
            </div>
            <p>
              Découvrez un nouveau monde de connaissances et de partage avec Didydoc, notre application web dédiée à la lecture et à la discussion. Plongez dans une bibliothèque virtuelle diversifiée où vous pouvez explorer une sélection soigneusement choisie de livres, tout en ajoutant vos propres favoris à notre collection croissante. Que vous soyez un passionné de fiction, un adepte de la non-fiction ou un amoureux des classiques, Didydoc vous offre une pléthore de choix pour stimuler votre esprit et élargir vos horizons.</br></br>

              Mais ce n'est pas tout - rejoignez notre communauté dynamique sur le blog angler de Didydoc. Engagez-vous dans des discussions enflammées, partagez vos opinions et découvrez de nouvelles perspectives avec d'autres passionnés de lecture du monde entier. Avec une interface conviviale et une organisation intuitive, Didydoc vous permet de naviguer aisément à travers les livres et les discussions, vous permettant d'explorer les sujets qui vous passionnent vraiment.</br></br>
              
              Que vous cherchiez une évasion littéraire ou une conversation enrichissante, Didydoc vous offre l'espace idéal pour vous immerger dans le monde captivant des mots et des idées.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- sale section -->
<!--  -->
  <!-- end  footer section -->


  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>
  <script type="text/javascript" src="static/js/custom.js"></script>


</body>

</html>