{%extends "/shared/layout.html" %}
{% block content %}
<div class="books">
    <div class="books-titles">
        <label for="" class="bk-t">Blog</label>
        <label for="" class="create">go back</label>
    </div>
    <div class="blog-content ">
        <div class="blog-item blog-comment">
            <div class="head">
                <label for="" class="username">bocquelin</label>
                <label for="" class="tilte">Titre: {{posts[2]}}</label>
            </div>
            <div class="content">
                <p>{{posts[3]}}</p>
            </div>
        </div>
        <div class="comments">
            <label for="" class="cm-t">Comments</label>
            <form action="" method="post" class="self-coms">
                <input type="text" name="content" id="" placeholder="votre commentaire ...">
                <button type="submit" class="create">Create</button>
            </form>
            {% for comment in comments %}
            <div class="comment-item">
                <div class="head">
                    <label for="" class="username">bocquelin</label>
                </div>
                <div class="content">
                    <p>{{comment[3]}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}